<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      📝 NoteCraft
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="newDocument()" color="primary">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <ion-button (click)="saveDocument()" color="success">
        <ion-icon slot="icon-only" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="editor-container">
    <ion-item>
      <ion-input 
        [(ngModel)]="title" 
        placeholder="Название документа"
        class="document-title"
      ></ion-input>
    </ion-item>
    
    <ion-textarea 
      [(ngModel)]="content" 
      placeholder="Начните печатать ваш текст здесь..." 
      autoGrow="true"
      class="text-editor"
      rows="15"
    ></ion-textarea>
  </div>
</ion-content>